<ion-header>
  <ion-toolbar color ="success">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Examen Fisico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-grid>
    <ion-row>
      <ion-col size=8>
  <ion-item>
    <ion-textarea autoGrow autofocus [(ngModel)]="exfisico.observacion">Observaciones:</ion-textarea>
  </ion-item>
</ion-col>
<ion-col size=1> </ion-col>
<ion-col size=3>
</ion-col>
</ion-row>
  <ion-row>
    <ion-col size=3>
      <ion-item>
        <ion-label  >Edad: </ion-label>
        <ion-input readonly type="string" [(ngModel)]="exfisico.edad"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label >Peso(Kg): </ion-label>
        <ion-input type="number" [(ngModel)]="exfisico.peso"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label >Talla(cm): </ion-label>
        <ion-input type="number" [(ngModel)]="exfisico.talla"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-button (click)="Imc()">calcular imc</ion-button>
  </ion-row>

  <ion-row>
    <ion-col size=5.9>
  <ion-header>
    <ion-toolbar color ="tertiary">
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title>Tanner</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-col>
<ion-col size=0.2></ion-col>
<ion-col size=5.9>
  <ion-header>
    <ion-toolbar color ="tertiary">
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title>Composicion corporal</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size=2.95>
      <ion-item>
        <ion-label >Vello: </ion-label>
        <ion-input type="text" [(ngModel)]="exfisico.vello"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size=2.95>
    <ion-item>
      <ion-label >T.I.: </ion-label>
      <ion-input type="text" [(ngModel)]="exfisico.test_izq"></ion-input>
    </ion-item>
</ion-col>
  <ion-col size=0.2></ion-col>
  <ion-col size=2.95>
    <ion-item>
      <ion-label >MG: </ion-label>
      <ion-input type="text" [(ngModel)]="exfisico.MG"></ion-input>
    </ion-item>
</ion-col>
<ion-col size=2.95>
  <ion-item>
    <ion-label >MM: </ion-label>
    <ion-input type="text" [(ngModel)]="exfisico.MM"></ion-input>
  </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size=2.95>
      <ion-item>
        <ion-label >Mama: </ion-label>
        <ion-input type="text" [(ngModel)]="exfisico.mama"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size=2.95>
    <ion-item>
      <ion-label >T.D.: </ion-label>
      <ion-input type="text" [(ngModel)]="exfisico.test_der"></ion-input>
    </ion-item>
</ion-col>
<ion-col size=0.2></ion-col>
  <ion-col size=2.95>
    <ion-item>
      <ion-label >MB: </ion-label>
      <ion-input type="text" [(ngModel)]="exfisico.MB"></ion-input>
    </ion-item>
</ion-col>
<ion-col size=2.95>
  <ion-item>
    <ion-label >GV: </ion-label>
    <ion-input type="text" [(ngModel)]="exfisico.GV"></ion-input>
  </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size=2.95>
      <ion-item>
        <ion-label >Genital: </ion-label>
        <ion-input type="text" [(ngModel)]="exfisico.genital"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size=3.15></ion-col>
  <ion-col size=2.95>
    <ion-item>
      <ion-label >Agua: </ion-label>
      <ion-input type="text" [(ngModel)]="exfisico.agua"></ion-input>
    </ion-item>
</ion-col>
<ion-col size=2.95>
  <ion-item>
    <ion-label >IMC: </ion-label>
    <ion-input readonly type="text" [(ngModel)]="exfisico.imc"></ion-input>
  </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <h4>&#8203;</h4>
</ion-row>
<ion-row>
  <ion-col size=5.9>
<ion-item>
<ion-textarea autoGrow autofocus [(ngModel)]="exfisico.diagnostico">Diagnosticos:</ion-textarea>
</ion-item>
</ion-col>
<ion-col size=0.2></ion-col>
<ion-col size=5.9>
  <ion-item>
  <ion-textarea autoGrow autofocus [(ngModel)]="exfisico.indicacion">Indicaciones:</ion-textarea>
  </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  
</ion-row>
<ion-row><ion-col size=3>
  <ion-item>
    <ion-label >Fecha siguiente visita: </ion-label>
    <ion-datetime displayFormat="DD - MM - YYYY" max="2100-12-31" [(ngModel)]="exfisico.sig_visita"></ion-datetime>
  </ion-item>
</ion-col>
<ion-col></ion-col>
</ion-row>

<div *ngIf="esActualizar">
  <ion-row>
    <ion-col>
      <ion-button (click)="Actualizar2()">Actualizar datos</ion-button>
    </ion-col>
    <ion-button (click)="Siguiente()">Controles</ion-button>
    <ion-button (click)="Atras()">Atras</ion-button>
  </ion-row>
</div>

<div *ngIf="!esActualizar">
  <ion-row>
    <ion-col>
      <ion-button (click)="Guardar()">Guardar</ion-button>
      <ion-button (click)="Actualizar1()">Actualizar Datos</ion-button>
    </ion-col>
    <ion-button (click)="Siguiente()">Controles</ion-button>
    <ion-button (click)="Atras()">Atras</ion-button>
  </ion-row>
</div>
</ion-grid>
</ion-content>