<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-button routerLink="/menu"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let paciente of paciente">
      <ion-label>
        {{paciente.nombres}} {{paciente.apellidos}} 
      </ion-label>
      <ion-button color="tertiary" size="small" (click)="Paciente(paciente.rut_paciente)">Perfil</ion-button>
      <ion-button color="danger" size="small" (click)="presentAlertConfirm(paciente.rut_paciente)">Borrar</ion-button>
      
    </ion-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/antecedentespersonales">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>