<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-button routerLink="/menu">Volver</ion-button>
        </ion-buttons>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=5.3>
        Nombre
      </ion-col>
      <ion-col>
        RUT
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item button *ngFor="let paciente of paciente">
      <ion-label>
        {{paciente.nombres}} {{paciente.apellidos}} 
      </ion-label>
      <ion-label>
        {{paciente.rut_paciente}}{{'-'}}{{paciente.dig_verif}}
      </ion-label>
      <ion-button color="primary" size="small">Actualizar</ion-button>
      <ion-button color="danger" size="small" (click)="presentAlertConfirm(paciente.rut_paciente)">Borrar</ion-button>
    </ion-item>
</ion-list>
</ion-content>