<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-button color ="tertiary" routerLink="/menu">Volver</ion-button>
        </ion-buttons>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let paciente of paciente" routerLink="/perfilpaciente">
      <ion-label>
          <h4>{{paciente.nombres}} {{paciente.apellidos}}</h4>
          <h4>{{paciente.rut_paciente}}</h4>
          <h3></h3>
      </ion-label>      
    </ion-item>
</ion-list>
</ion-content>