<ion-header>
  <ion-toolbar color ="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grupo Familiar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size=3.85>
        <ion-item>
          <ion-label >Padre</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
              <ion-select-option value="vivoPadre">Vivo</ion-select-option>
              <ion-select-option value="fallPadre">Fallecido</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size=3.85>
        <ion-item>
        <ion-label>Madre</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option value="vivaMadre">Viva</ion-select-option>
          <ion-select-option value="fallMadre">Fallecida</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>Situacion Conyugal</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option value="scjuntos">Juntos</ion-select-option>
          <ion-select-option value="scseparados">Separados</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
      </ion-row>
    <!--Aqui termina la Situacion Conyugal-->
    
      <ion-col size=5>
          <ion-list-header>
              <ion-title>Hermanos</ion-title>
          </ion-list-header>
      </ion-col>
    <!--1-->
    <ion-row>
      <ion-col size=6>
          <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input></ion-input>
            </ion-item>
      </ion-col>
      <ion-col size=2>
          <ion-item>
              <ion-label position="floating">Edad</ion-label>
              <ion-input></ion-input>
            </ion-item>
      </ion-col>
    </ion-row>
    <!--2-->
    <ion-row>
        <ion-col size=6>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
        <ion-col size=2>
            <ion-item>
                <ion-label position="floating">Edad</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
      <!--3-->
      <ion-row>
          <ion-col size=6>
              <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input></ion-input>
                </ion-item>
          </ion-col>
          <ion-col size=2>
              <ion-item>
                  <ion-label position="floating">Edad</ion-label>
                  <ion-input></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
      <!--4-->
      <ion-row>
          <ion-col size=6>
              <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input></ion-input>
                </ion-item>
          </ion-col>
          <ion-col size=2>
              <ion-item>
                  <ion-label position="floating">Edad</ion-label>
                  <ion-input></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
      <!--5-->
      <ion-row>
          <ion-col size=6>
              <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input></ion-input>
                </ion-item>
          </ion-col>
          <ion-col size=2>
              <ion-item>
                  <ion-label position="floating">Edad</ion-label>
                  <ion-input></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <ion-list-header>
                <ion-title>Otros integrantes</ion-title>
            </ion-list-header>
          
        <ion-row>
          <ion-col size=3.7>
            <ion-item>
              <ion-label >Abuelo</ion-label>
                <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
                  <ion-select-option value="abuePaterno">Paterno</ion-select-option>
                  <ion-select-option value="abueMaterno">Materno</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size=3.7>
            <ion-item>
            <ion-label>Abuela</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
              <ion-select-option value="abuePaterna">Paterna</ion-select-option>
              <ion-select-option value="abueMaterna">Materna</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-col>
          </ion-row>

        <ion-row>
          <ion-col size=3.7>
            <ion-item>
              <ion-label >Tio(s)</ion-label>
                <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
                  <ion-select-option value="siTio">Si</ion-select-option>
                  <ion-select-option value="noTio">No</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size=3.7>
            <ion-item>
            <ion-label>Primo(s)</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
              <ion-select-option value="siPrimo">Si</ion-select-option>
              <ion-select-option value="noPrimo">No</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-col>
          </ion-row>

          <ion-list-header>
              <ion-title>Observaciones</ion-title>
          </ion-list-header>
            <ion-item>
                <ion-textarea placeholder=""></ion-textarea>
              </ion-item>

            <ion-button>Aceptar</ion-button>
            <ion-button>Cancelar</ion-button>
  </ion-grid>
</ion-content>