<ion-header>
  <ion-toolbar color ="success">
    <ion-title>Examen Físico</ion-title>
  </ion-toolbar>
</ion-header>

<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  
<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-item>
            <ion-label position="floating">Edad(años)</ion-label>
            <ion-input></ion-input>
          </ion-item>
    </ion-col>
    <ion-col>
        <ion-item>
            <ion-label position="floating">Talla(cm)</ion-label>
            <ion-input></ion-input>
          </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Peso(Kg)</ion-label>
              <ion-input></ion-input>
            </ion-item>
      </ion-col>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Standard(Kg)</ion-label>
              <ion-input></ion-input>
            </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-list-header>
        <ion-title>Tanner</ion-title>
    </ion-list-header>

    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="floating">Vello</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-label position="floating">T.I.</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
              <ion-item>
                  <ion-label position="floating">Mama</ion-label>
                  <ion-input></ion-input>
                </ion-item>
          </ion-col>
          <ion-col>
              <ion-item>
                  <ion-label position="floating">T.D.</ion-label>
                  <ion-input></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size=6>
                <ion-item>
                    <ion-label position="floating">Genital</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
            </ion-col>
          </ion-row>

          <ion-list-header>
              <ion-title>Observaciones</ion-title>
          </ion-list-header>
            <ion-item>
                <ion-textarea placeholder=""></ion-textarea>
              </ion-item>
            
              <ion-list-header>
                <ion-title>Diagnosticos</ion-title>
            </ion-list-header>
          
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label >1</ion-label>
                <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
                  <ion-select-option value="abuePaterna">Diag 1</ion-select-option>
                  <ion-select-option value="abueMaterna">Diag 2</ion-select-option>
                  <ion-select-option value="abuePaterna">Diag 3</ion-select-option>
                  <ion-select-option value="abueMaterna">Diag 4</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
            <ion-label>2</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
              <ion-select-option value="abuePaterna">Diag 1</ion-select-option>
              <ion-select-option value="abueMaterna">Diag 2</ion-select-option>
              <ion-select-option value="abuePaterna">Diag 3</ion-select-option>
              <ion-select-option value="abueMaterna">Diag 4</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
            <ion-label>3</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
              <ion-select-option value="abuePaterna">Diag 1</ion-select-option>
              <ion-select-option value="abueMaterna">Diag 2</ion-select-option>
              <ion-select-option value="abuePaterna">Diag 3</ion-select-option>
              <ion-select-option value="abueMaterna">Diag 4</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-col>
          </ion-row>
         
          <ion-list-header>
            <ion-title>Indicaciones</ion-title>
        </ion-list-header>
          <ion-item>
              <ion-textarea placeholder=""></ion-textarea>
            </ion-item>
            <ion-row></ion-row>

            <ion-row>
              <ion-col size =6></ion-col>
              <ion-button>Aceptar</ion-button>
              <ion-button>Siguiente</ion-button>
              <ion-button>Cancelar</ion-button>
            </ion-row>

</ion-grid>
</ion-content>