<ion-header>
  <ion-toolbar color ="success">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Diagnostico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Diagnostico: </ion-label>
    <ion-textarea type="text" [(ngModel)]="diagnostico.desc_diagnostico"></ion-textarea>
    </ion-item>
    <ion-button (click)="Diagnostico()">Agregar otro diagnostico</ion-button>
    <ion-button (click)=" AgregaryVolver()">Agregar y volver</ion-button>
    <ion-button (click)=" Volver()">Volver</ion-button>
  
</ion-content>
