<ion-header>
  <ion-toolbar color ="success">
    <ion-buttons slot="start">
      <ion-button routerLink="/pacientes"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
  <ion-title>Actualizar datos del paciente</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input type="text" [(ngModel)]="paciente.nombres"></ion-input>
          </ion-item>
    </ion-col>
    <ion-col>
        <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input type="text" [(ngModel)]="paciente.apellidos"></ion-input>
          </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-item>
            <ion-label position="floating">Direccion</ion-label>
            <ion-input type="text" [(ngModel)]="paciente.direccion"></ion-input>
          </ion-item>
        </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Comuna</ion-label>
        <ion-input type="text" [(ngModel)]="paciente.comuna"></ion-input>
      </ion-item>
    </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Fono (+)</ion-label>
          <ion-input type="text" [(ngModel)]="paciente.fono"></ion-input>
        </ion-item>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Prevision</ion-label>
          <ion-select [(ngModel)]="paciente.id_prevision" interface="popover">
          <ion-select-option *ngFor="let prevision of prevision" [value]="prevision.idPREVISION">
              {{prevision.desc_prevision}}
          </ion-select-option>
        </ion-select>
      </ion-item>
          </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size=3>
            <ion-item>
                <ion-label position="floating">RUT</ion-label>
                <ion-input readonly type="text" [(ngModel)]="paciente.rut_paciente"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size=2>
              <ion-item>
                  <ion-label position="floating">Digito verificador</ion-label>
                  <ion-input type="text" [(ngModel)]="paciente.dig_verif"></ion-input>
                </ion-item>
              </ion-col>
        <ion-col>
            <ion-item>
                <ion-label position="floating">Correo Electronico</ion-label>
                <ion-input type="text" [(ngModel)]="paciente.cor_elec"></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label >Fecha nacimiento</ion-label>
              <ion-input type="Date" [(ngModel)]="paciente.fec_nacim " value="1900-01-01"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label >Fecha ingreso</ion-label>
              <ion-input type="Date" [(ngModel)]="paciente.fec_ingreso"></ion-input>
            </ion-item>
            </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-item>
                  <ion-label>Sexo</ion-label>
                  <ion-select [(ngModel)]="paciente.sexo" interface="popover">
                    <ion-select-option *ngFor="let sexo of sexo" [value]="sexo.id_sexo">
                        {{sexo.desc_sexo}}
                    </ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size="3">
              <ion-item>
                  <ion-label position="floating">Edad menarquía</ion-label>
                  <ion-input type="text" [(ngModel)]="paciente.edad_menarq"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label >Fecha</ion-label>
                <ion-input type="Date" [(ngModel)]="paciente.fec_menarq"></ion-input>
              </ion-item>
              </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-item>
                <ion-label position="floating">Actividad</ion-label>
                <ion-input type="text" [(ngModel)]="paciente.actividad"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Deporte</ion-label>
                <ion-input type="text" [(ngModel)]="paciente.deporte"></ion-input>
              </ion-item>
            </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="floating">Tiempo libre</ion-label>
                <ion-input type="text" [(ngModel)]="paciente.tiempo_libre"></ion-input>
              </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-label position="floating">Rendimiento</ion-label>
                <ion-input type="number" [(ngModel)]="paciente.rendimiento"></ion-input>
              </ion-item>
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col size=5.5>
            <ion-item>
                <ion-label position="floating">Futuro</ion-label>
                <ion-input type="text" [(ngModel)]="paciente.prof_futuro"></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-button size="large"(click)="ActualizarPaciente(paciente,paciente.rut_paciente)">Actualizar</ion-button>
            <ion-button size="large"(click)="presentAlertConfirm()">Cancelar</ion-button>
          </ion-row>




</ion-grid>

</ion-content>