<ion-header>
  <ion-toolbar color ="success">
    <ion-title>Control Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
    <ion-toolbar color ="danger">
      <ion-title>Paciente: BELEN GREZ</ion-title>
      <ion-title>Fecha: 14/03/2007</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-grid>
        <ion-list-header>
            <ion-title>Evolucion</ion-title>
        </ion-list-header>
          <ion-item>
              <ion-textarea placeholder=""></ion-textarea>
            </ion-item>
            <ion-row>
            <ion-col size=5.3></ion-col>
            <ion-col>
                <ion-button class="sectest">Composicion corporal</ion-button>
                <ion-button class="sectest">Examenes laboratorio</ion-button>
            </ion-col>
          </ion-row>
  </ion-grid> 

</ion-content>