<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">
      Correo electronico
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Contraseña
    </ion-label >
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-button class="sectest" size="large" (click)="onLogin()">Ingresar</ion-button>
    <ion-button class="sectest" size="large" routerLink="/register">Nuevo</ion-button>
  </ion-item-divider>
</ion-content>
