:root {
    --ion-color-secondary: #000000;
    --ion-color-secondary-rgb: 0,102,0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #000000;
    --ion-color-secondary-tint: #00ff00;
  }