<ion-header>
  <ion-toolbar color ="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Indicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Indicacion: </ion-label>
    <ion-textarea type="text" [(ngModel)]="indicacion.desc_indicacion"></ion-textarea>
    </ion-item>
    <ion-button (click)="Indicacion()">Agregar otra indicacion</ion-button>
    <ion-button (click)=" AgregaryVolver()">Agregar y volver</ion-button>
    <ion-button (click)=" Volver()">Volver</ion-button>
  
</ion-content>