<ion-header>
  <ion-toolbar color ="success">
    <ion-buttons slot="start">
      </ion-buttons>
  <ion-title>Antecedentes personales</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding *ngFor="let fecha of fecha">
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-item>
            <ion-label >Nombres: </ion-label>
            <ion-input minlength=1 required type="text" [(ngModel)]="paciente.nombres"></ion-input>
          </ion-item>
    </ion-col>
    <ion-col>
        <ion-item>
            <ion-label>Apellidos: </ion-label>
            <ion-input minlength=1 required type="text" [(ngModel)]="paciente.apellidos"></ion-input>
          </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-item>
            <ion-label >Direccion: </ion-label>
            <ion-input minlength=1 required type="text" [(ngModel)]="paciente.direccion"></ion-input>
          </ion-item>
        </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label >Comuna: </ion-label>
        <ion-input minlength=1 required type="text" [(ngModel)]="paciente.comuna"></ion-input>
      </ion-item>
    </ion-col>
      <ion-col>
        <ion-item>
          <ion-label >Fono(+56): </ion-label>
          <ion-input minlength=9 maxlength=9 required type="text" [(ngModel)]="paciente.fono"></ion-input>
        </ion-item>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Prevision: </ion-label>
          <ion-select [(ngModel)]="paciente.id_prevision" interface="popover">
          <ion-select-option *ngFor="let prevision of prevision" [value]="prevision.idPREVISION">
              {{prevision.desc_prevision}}
          </ion-select-option>
        </ion-select>
      </ion-item>
          </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size=3>
            <ion-item>
                <ion-label >RUT: </ion-label>
                <ion-input minlength=8 maxlength=8 required type="text" [(ngModel)]="paciente.rut_paciente"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size=2>
              <ion-item>
                  <ion-label >Digito verificador: </ion-label>
                  <ion-input minlength=1 maxlength=1 required type="text" [(ngModel)]="paciente.dig_verif"></ion-input>
                </ion-item>
              </ion-col>
        <ion-col>
            <ion-item>
                <ion-label >Correo electronico: </ion-label>
                <ion-input minlength=1 required type="text" [(ngModel)]="paciente.cor_elec"></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label >Fecha nacimiento</ion-label>
              <ion-input required type="Date" [(ngModel)]="paciente.fec_nacim "></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label >Fecha ingreso: </ion-label>
              <ion-input readonly type="text" [(ngModel)]="fecha.fec_real"></ion-input>
            </ion-item>
            </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-item>
                  <ion-label>Sexo: </ion-label>
                  <ion-select [(ngModel)]="paciente.sexo" interface="popover">
                    <ion-select-option *ngFor="let sexo of sexo" [value]="sexo.id_sexo">
                        {{sexo.desc_sexo}}
                    </ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size=2.3>
            <ion-item>
              <ion-label >Edad menarquia: </ion-label>
              <ion-input type="text" [(ngModel)]="paciente.edad_menarq"></ion-input>
            </ion-item>
            </ion-col>
            <ion-col >
              <ion-item>
                <ion-label >Fecha menarquia: </ion-label>
                <ion-input type="Date" [(ngModel)]="paciente.fec_menarq"></ion-input>
              </ion-item>
              </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-item>
                <ion-label minlength=1 >Actividad: </ion-label>
                <ion-input required type="text" [(ngModel)]="paciente.actividad"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label >Deporte: </ion-label>
                <ion-input minlength=1 required type="text" [(ngModel)]="paciente.deporte"></ion-input>
              </ion-item>
            </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=6>
            <ion-item>
                <ion-label >Tiempo libre: </ion-label>
                <ion-input type="text" [(ngModel)]="paciente.tiempo_libre"></ion-input>
              </ion-item>
        </ion-col>
        <ion-col size=3>
            <ion-item>
                <ion-label >Rendimiento: </ion-label>
                <ion-input type="number" [(ngModel)]="paciente.rendimiento"></ion-input>
              </ion-item>
        </ion-col>
        <ion-col size=1.9></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=5.5>
            <ion-item>
                <ion-label >Futuro: </ion-label>
                <ion-input type="text" [(ngModel)]="paciente.prof_futuro"></ion-input>
              </ion-item>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Acompañante: </ion-label>
            <ion-input type="text" [(ngModel)]="paciente.acompanante"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Correo electronico: </ion-label>
            <ion-input type="text" [(ngModel)]="paciente.cor_elec_acomp"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-button (click)="AgregarPaciente()">Aceptar</ion-button>
            <ion-button (click)="presentAlertConfirm()">Cancelar</ion-button>
          </ion-row>
    </ion-grid>
</ion-content>